    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Who am I?</h2>
            <p class="intro text-center">I'm a developer. I love coding, watching something as simple a bunch of letters and symbols come to life infront of my eyes make me feel like a little kid watching a magic show.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title"> Passion</h3>
                        <p>I love learning new skills and crafts, I'm always watching tutorials and reading blog posts and expanding my knowledge. Do you <code>&#60;&#47;&#62; with &#60;3 ?</code> I certainly do! All my projects are built with love and a strong passion.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Timely?</h3>
                        <p>Time is something I think every developer stuggles with. I generally try to tinker with my projects no later than 7:30, well that doesn't always happen. Sometimes I look at the clock and it almost 3am!</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Code</h3>
                        <p>The ammount of code-puns I make in a day should be illegal. I love doing what I do and try to spread the joy. Coding has become a lifestyle not just a hobby.</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
