    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center title-cont">
            <h2 class="title hidden-xs hidden-sm">Clark <i class="ch ch-logo-o-w"></i> Hacks</h2>
            <h2 class="title hidden-xl hidden-lg hidden-md"><i class="ch ch-logo-o-w ch-2x"></i></h2>
            <p class="intro">I can turn energy drinks into websites</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="#" target="_blank" title="Printable PDF">Resume</a>
                <a class="btn btn-cta-primary" href="#" target="_blank">Hire Me</a>
            </div>

        </div><!--//container-->
        <div class="social-media">
<!-- Links Go Here-->
            </div>
        </div>
    </section><!--//promo-->
