    <!-- ******FEATURES****** -->
    <section id="skills" class="features section">
        <div class="container text-center">
            <h2 class="title">Skills</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Bootstrap</li>
                <li><i class="fa fa-check"></i> HTML5 + CSS3</li>
                <li><i class="fa fa-check"></i> Javascript</a></li>
                <li><i class="fa fa-check"></i> jQuery</li>
                <li><i class="fa fa-check"></i> Messing up</li>
                <li><i class="fa fa-check"></i> Forgetting what I'm doing</li>
                <li><i class="fa fa-check"></i> Going Overboard on design</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
