<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
<body data-spy="scroll">
{% include header.html %}
{% include promo.html %}
<div class="container">
  <h2 style="margin: 4%">Blog Posts</h2>
{% for post in site.posts %}
  <div class="well">
    <div class="well-title"><h3>{{ post.title }}</h2></div>
    <div class="well-body">
    {{ post.excerpt }}
</div>
    <div class="well-footer"><a class="btn btn-cta-primary" href="{{ post.url }}">read more</a></div>
  </div>
{% endfor %}
</div>
{% include contact.html %}
{% include footer.html %}
</body>
</html>
